@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --purple:hsl(259, 100%, 65%);
    --light-red:hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white:hsl(0, 0%, 94%);
    --light-grey:hsl(0, 0%, 86%);
    --somkey-grey:hsl(0, 1%, 44%);
    --off-black:hsl(0, 0%, 8%);
    --primary-font:'Poppins', sans-serif;
    --font-input:2em;
}
body{
    background-color:var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--primary-font);
}
.card{
    background-color: var(--white);
    padding:2rem;
    border-radius: 20px;
    border-bottom-right-radius: 200px;
}
 p{
    font-style:normal;
}
.input-fields p{
    color: var(--somkey-grey);
}
.input-fields{
    display: flex;
    justify-content:start;
    align-items: flex-start;
    gap: 12px;
    padding-bottom:49px;
}
.input-fields input{
     font-size:38px;
     max-width:120px;
     padding-block:12px;
     padding-left:12px;
     text-align: left;
     font-weight: bold;
     color: var(--somkey-grey);
}
.content p{
    font-style: italic;
    font-weight: 800;
    font-size:70px;
    
}
.content span{
    color: var(--purple);
}
hr{
    width:550px;
}
img{
    background-color: var(--purple);
    border-radius: 50%;
    padding: 12px;
}

